@use "variables" as *;
@use "mixins" as *;

body {
    color: $primary-colour;
    font-family: $primary-font;
}

.title {
    @include flexCenter();
    font-size: 35px;
    &__about-me {
        font-size: 50px;
    }
}