@use "variables" as *;
@use "./mixins" as *;

.footer {
    background-color: $tertiary-colour;
    padding: 5vh;
    &__icons {
        @include flexCenter();
        @include paddingMargin();
    }&__h2 {
        @include flexCenter();
        @include paddingMargin();
        size: 1em;
    }&__img {
        @include paddingMargin();
        height: 6vh;
        width: 6vh;
    }
}
