@use "variables" as *;

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    &__nav {
        padding: 20px;
    }&__h1 {
        padding-left: 20px;
    }&__nav--button {
        display: none;
        border: none;
        background-color: $white-colour;
        color: $quinary-colour;
        padding: 10px;
        margin: 10px;
        &--active {
            border: 1px solid $primary-colour;
            background-color: $tertiary-colour;
            border-radius: 8px;
            padding: 10px;
            display: none;
        }

    }
}