@use "variables" as *;
@use "./mixins" as *;

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    @include paddingMargin();
    @include verticalPadding();
    &__img-container {
        display: flex;
        align-items: center;
        justify-content:flex-start;
    }
    &__nav {
        @include paddingMargin();
    }&__h1 {
        @include paddingMargin();
        justify-content: flex-start;
    }&__nav--button {
        display: none;
        border: none;
        background-color: $white-colour;
        color: $quinary-colour;
        padding: 10px;
        margin: 10px;
        &--active {
            border: 1px solid $primary-colour;
            background-color: $tertiary-colour;
            border-radius: 8px;
            padding: 10px;
            display: none;
        }

    }
}