@use "variables" as *;

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &__nav {
        padding: 20px;
    }&__h1 {
        padding-left: 20px;
    }
}