@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  margin: 1vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
}
.header__h1 {
  font-size: 1em;
}
.header__img-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__nav {
  padding: 1vh;
  margin: 1vh;
}
.header__h1 {
  padding: 1vh;
  margin: 1vh;
  justify-content: flex-start;
}
.header__nav--button {
  display: none;
  border: none;
  background-color: #FFFFFF;
  color: #8C9CB1;
  padding: 10px;
  margin: 10px;
}
.header__nav--button--active {
  border: 1px solid #272643;
  background-color: #BAE8E8;
  border-radius: 8px;
  padding: 10px;
  display: none;
}