@use "variables" as *;

.intro {
    padding: 40px;
    &__h2 {
        color: $quinary-colour;
    }&__p {
        font-size: 70px;
        font-weight: 1000;
    }&__button {
        background-color: $tertiary-colour;
        width: 100%;
        padding: 20px;
        font-size: 25px;
    }
}