@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.intro {
  padding: 1vh;
  margin: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding: 40px;
  background-color: #E3F6F5;
}
.intro__h2 {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding: 1vh;
  margin: 1vh;
  color: #8C9CB1;
}
.intro__p {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding: 1vh;
  margin: 1vh;
  font-size: 70px;
  font-weight: 1000;
}
.intro__button {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding: 1vh;
  margin: 1vh;
  background-color: #BAE8E8;
  width: 100%;
  padding: 20px;
  font-size: 25px;
}