@use "variables" as *;
@use "./mixins" as *;



.card {
    padding: 2vh;
    &__img {
        width: 99%;
        display: flex;
        justify-self: center;
    }&__row2 {
        display: none;
    }
}

.links {
    display: flex;
    align-items: center;
    &__h5 {
        padding: 1vh;
    }&__i {
        padding: 1vh;
    }
}