@use "variables" as *;
@use "./mixins" as *;



.card {
    padding: 2vh;
    &__img {
        width: 99%;
        display: flex;
        justify-self: center;
    }
    &__h4 {
        @include verticalPadding();
        color: $quaternary-colour;
    }&__h2 {
        @include verticalPadding();
    }
    &__p {
        @include verticalPadding();
        color: $quinary-colour;
    }/*&__4 {
        display: none;
    }&__5 {
        display: none;
    }&__6 {
        display: none;
    }*/
}

.links {
    @include verticalPadding();
    display: flex;
    align-items: center;
    &__h5 {
        padding-right: 1vh
    }&__i {
        padding-right: 1vh;
    }
}