@use "mixins" as *;

@media screen and (min-width: 454px) and (max-width: 768px){
  /* ipad screen */
  .header__nav--symbol {
          display: none;
      }
    .projects {
       display: grid;
    }
    .card {
        width: 60vh;
        &__row2 {
        display: none;
    }
    }
}

@media screen and (min-width: 768px) {
  /* laptop screen */ 
  .card__row2 {
        display: block;
        }
  .header__nav--symbol {
          display: none;
      }
    .header__nav--bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header__nav--button {
        display: block;
        &--active {
            display: block;
        }
    }
    .intro {
    @include flexCenter();
    flex-direction: column;
    &__h2 {
       @include flexCenter(); 
    }&__p {
    @include flexCenter();
    text-align: center
    }&__button {
        @include flexCenter();
        width: 50%;
        
    }
    }
    .techical-skill__p {
        display: flex;
        @include flexCenter();
    }
    .tech-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
   grid-template-areas:
        "icon--git icon--html  icon--css icon--javascript icon--scss icon--bem icon--react icon--java icon--spring"
        "label--git label--html label--css label--javascript label--scss label--bem label--react label--java label--spring";
    gap: 1rem;
    width: 70%;
    margin-inline: auto;}
    .projects {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-areas:
        "card__1 card__2 card__3"
        "card__4 card__5 card__6";
    }

    .card {
        width: 40vh;
        &__row2 {
            display: block;
        }
        &__1 {
        grid-area: card__1;
    }&__2 {
        grid-area: card__2;
    }&__3 {
        grid-area: card__3;
    }&__4 {
        display: block;
        grid-area: card__4;
    }&__5 {
        display: block;
        grid-area: card__5;
    }&__6 {
        display: block;
        grid-area: card__6;
    }
    }
  }
  
