@use "variables" as *;

.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   grid-template-areas:
        "icon--git icon--html  icon--css"
        "label--git label--html label--css"
        "icon--javascript icon--scss icon--bem"
        "label--javascript label--scss label--bem"
        "icon--react icon--java icon--spring"
        "label--react label--java label--spring";
    gap: 1rem;
    width: 70%;
    margin-inline: auto;
}

grid__icon--git {
  grid-area: icon--git;
}

grid__label--git {
  grid-area: label--git;
}

grid__icon--html {
  grid-area: icon--html;
}

grid__label--html {
  grid-area: label--html;
}

grid__icon--css {
  grid-area: icon--css;
}

grid__label--css {
  grid-area: label--css;
}

grid__icon--javascript {
  grid-area: icon--javascript;
}

grid__label--javascript {
  grid-area: label--javascript;
}

grid__icon--scss {
  grid-area: icon--scss;
}

grid__label--scss {
  grid-area: label--scss;
}

grid__icon--bem {
  grid-area: icon--bem;
}

grid__label--bem {
  grid-area: label--bem;
}

grid__icon--java {
  grid-area: icon--java;
}

grid__label--java {
  grid-area: label--java;
}

grid__icon--react {
  grid-area: icon--react;
}

grid__label--react {
  grid-area: label--react;
}

grid__icon--spring {
  grid-area: icon--spring;
}

grid__label--spring {
  grid-area: label--spring;
}

