@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$primary-font: "Inter";
$primary-colour: #272643;
$secondary-colour: #bfe3ff;
$tertiary-colour: #47F68D;
$quaternary-colour: #7460E1;
$white-colour: #fff;
$pink-colour: #ffdadf;
$quinary-colour: #707070;
