@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$primary-font: "Inter";
$primary-colour: #272643;
$secondary-colour: #E3F6F5;
$tertiary-colour: #BAE8E8;
$quaternary-colour: #2C698D;
$white-colour: #FFFFFF;
$quinary-colour: #8C9CB1;
