@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header__nav {
  padding: 20px;
}
.header__h1 {
  padding-left: 20px;
}
.header__nav--button {
  display: none;
}

body {
  color: #272643;
  font-family: "Inter";
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.title__about-me {
  font-size: 50px;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-me__img {
  width: 45vh;
}
.about-me__p {
  padding: 1vh;
}

.intro {
  padding: 40px;
  background-color: #E3F6F5;
}
.intro__h2 {
  color: #8C9CB1;
}
.intro__p {
  font-size: 70px;
  font-weight: 1000;
}
.intro__button {
  background-color: #BAE8E8;
  width: 100%;
  padding: 20px;
  font-size: 25px;
}

.footer {
  background-color: #BAE8E8;
  padding: 5vh;
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "icon--git icon--html  icon--css" "label--git label--html label--css" "icon--javascript icon--scss icon--bem" "label--javascript label--scss label--bem" "icon--react icon--java icon--spring" "label--react label--java label--spring";
  gap: 1rem;
  width: 70%;
  margin-inline: auto;
}

.grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid__icon {
  width: 20px;
  height: 20px;
}

.grid__icon--git {
  grid-area: icon--git;
}

.grid__label--git {
  grid-area: label--git;
}

.grid__icon--html {
  grid-area: icon--html;
}

.grid__label--html {
  grid-area: label--html;
}

.grid__icon--css {
  grid-area: icon--css;
}

.grid__label--css {
  grid-area: label--css;
}

.grid__icon--javascript {
  grid-area: icon--javascript;
}

.grid__label--javascript {
  grid-area: label--javascript;
}

.grid__icon--scss {
  grid-area: icon--scss;
}

.grid__label--scss {
  grid-area: label--scss;
}

.grid__icon--bem {
  grid-area: icon--bem;
}

.grid__label--bem {
  grid-area: label--bem;
}

.grid__icon--java {
  grid-area: icon--java;
}

.grid__label--java {
  grid-area: label--java;
}

.grid__icon--react {
  grid-area: icon--react;
}

.grid__label--react {
  grid-area: label--react;
}

.grid__icon--spring {
  grid-area: icon--spring;
}

.grid__label--spring {
  grid-area: label--spring;
}

.card__row2 {
  display: none;
}

@media screen and (min-width: 454px) and (max-width: 768px) {
  /* ipad screen */
  .header__nav--symbol {
    display: none;
  }

  .projects {
    display: grid;
  }

  .card {
    width: 60vh;
  }
  .card__row2 {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  /* laptop screen */
  .header__nav--symbol {
    display: none;
  }

  .tech-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "icon--git icon--html  icon--css icon--javascript icon--scss icon--bem icon--react icon--java icon--spring" "label--git label--html label--css label--javascript label--scss label--bem label--react label--java label--spring";
    gap: 1rem;
    width: 70%;
    margin-inline: auto;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "card__1 card__2 card__3" "card__4 card__5 card__6";
  }

  .card {
    width: 40vh;
  }
  .card__1 {
    grid-area: card__1;
  }
  .card__2 {
    grid-area: card__2;
  }
  .card__3 {
    grid-area: card__3;
  }
  .card__4 {
    grid-area: card__4;
  }
  .card__5 {
    grid-area: card__5;
  }
  .card__6 {
    grid-area: card__6;
  }
}
.card {
  padding: 2vh;
}
.card__img {
  width: 99%;
  display: flex;
  justify-self: center;
}
.card__row2 {
  display: none;
}

.links {
  display: flex;
  align-items: center;
}
.links__h5 {
  padding: 1vh;
}
.links__i {
  padding: 1vh;
}/*# sourceMappingURL=styles.css.map */